<div class="toolbar" role="banner">
  <img width="40" alt="MiTek Logo" src="assets/kovalogo_big.png" />
  <app-button text="Home" (click)="goHome()"></app-button>
  <div class="spacer"></div>
  Language:
  <app-button text="English" (click)="changeLanguage('en')"></app-button>
  <app-button text="Suomi" (click)="changeLanguage('fi')"></app-button>
  <div class="spacer"></div>
  <app-button *ngIf="shouldShowRegisterButton()" [text]="register | language: language:'register'" (click)="navigateToRegister()"></app-button>
  <app-button *ngIf="shouldShowSignInButton()" [text]="('Sign in') | language: language:'signin'"(click)="signIn()"></app-button>
  <app-button *ngIf="shouldShowSignOutButton()" [text]="('Sign Out') | language: language:'signout'"(click)="signOut()"></app-button>
</div>
