<div class="toolbar" role="banner">
    <img
      width="40"
      alt="MiTek Logo"
      src="assets/kovalogo_big.png"
    />
      <app-button text="Home" (click)="goHome()"></app-button>
      <div class="spacer"></div>
      Language:
      <app-button text="English" (click)="changeLanguage('en')"></app-button>
      <app-button text="Suomi" (click)="changeLanguage('fi')"></app-button>
      <div class="spacer"></div>
      <app-button [text]="register | language:language:'register'"></app-button>
      <app-button [text]="(!signedIn ? 'Sign in' : 'Sign out') | language:language:'signin'" (click)="signIn()"></app-button>
      
  </div>
