<div *ngIf="!userDetailsFormGroup">
  <p>There is no user!</p>
</div>
<div *ngIf="userDetailsFormGroup">
  <button (click)="goBackToUserList()"> Back </button>
  
  <p *ngIf="isSubmitted" class="submit-text"> The form has been submitted. </p>
  
  <form [formGroup]="userDetailsFormGroup" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label> User ID: {{ this.userId }}</label>
    </div>
    
    <div class="form-group">
      <label for="username"> Name: </label>
      <input formControlName="username" id="username" name="username"/>
    </div>
      
    <div class="form-group">
      <label for="lastname"> Last Name: </label>
      <input type="text" formControlName="lastname" id="lastname" name="lastname"/>
    </div>

    <div class="form-group">
      <label> Status: {{this.userDetailsFormGroup.controls['status'].value }} </label>
      <button type="button" (click)="toggleStatus()"> {{ this.userDetailsFormGroup.controls['status'].value == "active" ? "Deactivate" : "Activate" }}</button>
    </div>

    
    <div class="form-group" formGroupName="address">
      <label>Address </label>
      
      <div class="addressLine">
        <label for="addressLine1"> first line: </label>
        <textarea formControlName="firstLine" id="addressLine1" name="addressLine1"></textarea>
      </div>

      <div class="addressLine">
        <label for="addressLine2"> second line: </label>
        <textarea formControlName="secondLine" id="addressLine2" name="addressLine2"></textarea>
      </div>
      
      <div class="addressLine">
        <label for="addressPostOrZipCode"> postal code: </label>
        <input type="text" formControlName="postOrZipCode" id="addressPostOrZipCode" name="addressPostOrZipCode"/>
      </div>
    </div>

    <div class="form-group">
      <label for="birthMonth"> Birth Month: </label>
      <select formControlName="birthMonth" id="birthMonth" name="birthMonth">
        <option *ngFor="let month of possibleMonths()">
          {{ month }}
        </option>
      </select>
    </div>
    
    <div *ngIf="userDetailsFormGroup.controls['username'].invalid && (userDetailsFormGroup.controls['username'].dirty || userDetailsFormGroup.controls['username'].touched)">
      <div *ngIf="userDetailsFormGroup.controls['username'].errors?.['required']" class="error-message">
        User name is required
      </div>
      <div *ngIf="userDetailsFormGroup.controls['username'].errors?.['minlength']" class="error-message">
        User name must be longer than 2 characters
      </div>
      <div *ngIf="userDetailsFormGroup.controls['username'].errors?.['noAdmin']" class="error-message">
        You're not an admin!
      </div>
    </div>
    
    <div *ngIf="userDetailsFormGroup.controls['lastname'].invalid">
      <div *ngIf="userDetailsFormGroup.controls['lastname'].errors?.['required']" class="error-message">
        Last name is required
      </div>
    </div>
    
    <button type="submit" [disabled]="userDetailsFormGroup.invalid && !isSubmitted"> Submit </button>
    
  </form>
</div>
