<hr/>
<app-admin-usermanager
(addingUser) = "onAddUser($event)"
(removingFirstUser) = "onRemoveFirstUser()"
></app-admin-usermanager>
<hr/>
<h4>Click on a user's status below to activate / deactivate them</h4>

<div
*ngFor="let user of users"
appSelectedUser
[highlightColor]="'dodgerblue'"
>
  <hr/>
  <div>
    <b>
      Username: {{user.username}}
    </b>
    &nbsp;&nbsp;&nbsp;
    <i [ngStyle]="{background: user.status == 'active' ? 'transparent' : 'red'}" (click)="toggleUser(users.indexOf(user))">
      {{user.status}}
    </i>
  </div>
  <hr/>
</div>

